<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        <br>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= @FullName %></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= @Profile_Pic %>" class="img-circle img-responsive"> </div>
    
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                       <td>User Name:</td>
                                       <td><%= @UserName %></td>
                                    </tr>
                                    <tr>
                                       <td>Full Name:</td>
                                       <td><%= @FullName %></td>
                                    </tr>
                                    <tr>
                                       <td>Website:</td>
                                       <td><a style="display:inline" href="<%= @Website %>"><%= @Website %></a></td>
                                    </tr>
                                    <tr>
                                        <td>Bio</td>
                                        <td><%= @Bio %></td>
                                    </tr>
                                </tbody>
                            </table>
                    
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
    
                    <span class="pull-right">
    
                    </span>
                </div>
    
            </div>
        </div>
    </div>
</div>
